.page-content{
    background-color: #cccccc;
}

.title{
    text-align: center;
    margin-bottom: 0;
    background-color: #aaaaaa;
    border-radius: 10px;
    box-shadow: 2px 11px 26px -3px rgba(0,0,0,0.75);
    
}
.title h1{
    font-family: 'Josefin Slab', serif;
    font-size: 48px;
    margin-top: 5%;
    margin-bottom: 0;
}
.title h3{
    font-family: 'Allura', monospace;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0px;
}

h2{
    text-align: center;
    font-family: 'Josefin Slab', serif;
}

h4{
    text-align: center;
    font-family: 'Allura', monospace;
    font-size: 18px;    
}

#takeVid{
    font-family: "Josefin Slab", serif;
    width: 50%;
    margin: auto;
    padding: 0;
}

.body{
    margin-top: 20%;
}

.soundQueue{
    margin-bottom: 10%;
}

.vidRecord{
    margin-top: 20%;
}

#takeVid{
    background-color: #8c8c8c;
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
    color: black;
}

















#vidList{
    margin: auto;
    align-content: center;
}